@use "vars" as *;
body {
  background-color: $bg;
  color: $white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}
p,
span,
time,
a,
div,
button,
address,
input,
input::placeholder,
label,
legend,
li {
  font-family: "Onest", sans-serif;
}
// font-family: "Montserrat", sans-serif;
.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 30px;
  width: 100%;
  
}
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}
